<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net462" developmentDependency="true" />
  <package id="Fody" version="2.2.1.0" targetFramework="net462" developmentDependency="true" />
  <package id="gong-wpf-dragdrop" version="1.2.0-alpha0057" targetFramework="net462" />
  <package id="ICSharpCode.TextEditor" version="3.2.1.6466" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net462" />
</packages>